*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI , 'GFS Didot', serif;
  font-size: 1.6rem;
  background-color: #08103F;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p-10 {
  padding: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.page-container {
  padding: 0 30px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-4-custom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.672%;
          flex: 0 0 32.672%;
  max-width: 32.672%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.clearfix {
  clear: both;
}

/* header */
.header-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 120px;
}

.header-wrap .logo img {
  width: 170px;
}

.header-wrap .header-right {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-wrap .header-social {
  margin: 0px 0px 0px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrap .header-social span.icons {
  display: inline-block;
  height: 21px;
  width: 21px;
}

.header-wrap .header-social span.icons svg {
  height: 21px;
  width: 21px;
}

.header-wrap .header-social span.icons svg path {
  fill: #ffffff;
}

.header-wrap .header-social ul {
  overflow: hidden;
}

.header-wrap .header-social ul li {
  margin: 0 2.5px;
  margin-top: 0;
}

.header-wrap .header-social ul a {
  padding: 9px 10.5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-wrap .header-social ul a:hover {
  background-color: #FFFFFF;
}

.header-wrap .header-social ul a:hover svg path {
  fill: #08103F;
}

/* menu */
#menu ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu ul li:not(:last-child) {
  margin-right: 2px;
}

#menu ul a {
  color: #E1E1E1;
  font-family: "Biryani", Serif;
  font-size: 1.7rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 13px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 20px;
}

#menu ul a:hover, #menu ul a:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#menu-mb {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  max-height: 0;
  background-color: #fff;
  font-size: 13px;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: auto;
  -webkit-transition: max-height .3s,-webkit-transform .3s;
  transition: max-height .3s,-webkit-transform .3s;
  transition: max-height .3s,transform .3s;
  transition: max-height .3s,transform .3s,-webkit-transform .3s;
  position: absolute;
  z-index: 9997;
  width: 100%;
  left: 0;
  margin-top: 26px !important;
}

#menu-mb.opened {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  max-height: 100vh;
}

#menu-mb .menu-list-mb a {
  line-height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Biryani", Serif;
  font-size: 1.7rem;
  font-weight: 400;
}

#menu-mb .menu-list-mb a.active {
  background-color: #55595c;
  color: #fff;
}

#hamburger {
  display: none;
  margin-left: auto;
}

#hamburger span {
  display: block;
  width: 26px;
  height: 3px;
  margin-bottom: 3px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#hamburger.opened span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -4px);
          transform: rotate(45deg) translate(-2px, -4px);
}

#hamburger.opened span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger.opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/* sections */
.home-big-text {
  min-height: 86vh;
  max-width: 1900px;
}

.home-big-text h2.title {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 1.1px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  padding: 0;
  margin: 0;
}

.home-big-desc .home-big-desc-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-big-desc .home-big-desc-content > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.home-big-desc .content-1 .content {
  font-family: "Biryani", Serif;
  font-size: 4rem;
  font-weight: 300;
}

.home-big-desc .content-2 img {
  max-width: 270px;
}

.home-big-desc .small-content {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
}

.home-big-desc .small-content h3 {
  font-size: 4rem;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  padding: 0;
  margin: 0 0 20px 0;
}

.home-big-desc .small-content p.desc {
  font-size: 2.3rem;
  font-weight: 200;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.home-big-desc .small-content p.actions a {
  display: inline-block;
  line-height: 1;
  padding: 20px 40px;
  font-size: 1.8rem;
  color: #03073C;
  background-color: #E5E7E9;
  border-radius: 45px 45px 45px 45px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.98);
          box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.98);
}

.spinouts h2.title {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -1px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  margin: 0 0 35px 0;
}

.spinouts .spinouts-list {
  padding: 34px 0px 73px 0px;
}

.spinouts .spinouts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.spinouts .spinouts-item .spinouts-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network {
  margin-top: 100px;
  margin-bottom: 100px;
}

.network h2.title {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -1px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  margin: 0 0 58px 0;
}

.network .network-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.network .network-item .network-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network .gsdv {
  max-width: 70%;
}

.network .wolf {
  width: 120px;
  height: 170px;
}

.network .cryptomind {
  max-width: 68%;
}

.network .cryptodiffer {
  width: 220px;
  max-width: 441%;
  height: 37.5px;
}

.network .cvlabs {
  width: 150px;
  height: 103px;
}

.getintouch {
  background-color: #EAEBF6;
  padding: 130px 0px 130px 0px;
}

.getintouch h2.title {
  color: #000000;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -0.7px;
  text-shadow: 0px 0px 6px #e5e7e9;
  margin: 0 0 20px 0;
}

.getintouch a.actions {
  display: inline-block;
  line-height: 1;
  padding: 25px 50px;
  font-family: "Biryani", Serif;
  font-size: 1.5rem;
  background-color: #08103F;
  border-radius: 45px 45px 45px 45px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.98);
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.98);
  color: #ffffff;
}

.getintouch .actions-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 16px;
}

.getintouch .actions-icon svg {
  width: 13px;
  height: 17px;
}

.getintouch .actions-icon svg path {
  fill: #ffffff;
}

/* footer */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 85px 0px 60px 0px;
}

#footer .footer-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

#footer .footer-col.footer-col-full {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

#footer .footer-left-wrap {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer-left-wrap .footer-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0  13%;
          flex: 0 0  13%;
  max-width: 13%;
}

#footer .footer-left-wrap .footer-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Biryani", Serif;
  font-size: 1.9rem;
  letter-spacing: -0.1px;
  padding: 13px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  line-height: 20px;
  color: #fff;
}

#footer .footer-left-wrap .footer-links a:hover, #footer .footer-left-wrap .footer-links a:focus {
  color: #61CE70;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#footer .footer-left-wrap .footer-links a.active {
  color: #61CE70;
}

#footer .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#footer .subscribe-form .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 -5px;
}

#footer .subscribe-form .form-wrap .form-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  max-width: 66.666%;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

#footer .subscribe-form .form-wrap .form-input input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  font-family: Serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  width: 100%;
  max-width: 100%;
  border: 1px solid #818a91;
  padding: .5rem 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 1.4;
  min-height: 40px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#footer .subscribe-form .form-wrap .form-buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

#footer .subscribe-form .form-wrap .form-buttons button {
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  background-color: #FB7803FA;
  color: #F7F6C5;
  font-family: Serif;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 0px 0px 0px 0px;
  min-height: 40px;
  cursor: pointer;
}

#footer .subscribe-form .form-wrap .form-buttons button:hover, #footer .subscribe-form .form-wrap .form-buttons button:focus {
  background-color: #0F1F79;
  color: #ffffff;
}

#footer .footer-social {
  padding: 26px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer .footer-social span.icons {
  display: inline-block;
  height: 21px;
  width: 21px;
}

#footer .footer-social span.icons svg {
  height: 21px;
  width: 21px;
}

#footer .footer-social span.icons svg path {
  fill: #ffffff;
}

#footer .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-social ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.5px;
  margin-top: 0;
}

#footer .footer-social ul a {
  padding: 10.5px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10%;
}

#footer .footer-social ul a.ic-twitter {
  background-color: #1da1f2;
}

#footer .footer-social ul a.ic-telegram {
  background-color: #818a91;
}

#footer .footer-social ul a.ic-youtube {
  background-color: #cd201f;
}

#footer .footer-social ul a.ic-linknd {
  background-color: #0077b5;
}

#footer .footer-social ul a.ic-medium {
  background-color: #00ab6b;
}

#footer .footer-social ul a:hover {
  background-color: #FFFFFF;
}

#footer .footer-social ul a:hover svg path {
  fill: #08103F;
}

/* studio page*/
.studio-big-text {
  min-height: 84vh;
  max-width: 1900px;
}

.studio-big-text h1.title {
  padding-top: 50px;
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 1.1px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  margin: 0;
}

.studio-how h2.title {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 1.1px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  margin: 100px 0px 20px 0px;
  padding: 0px 0px 32px 0px;
}

.studio-how .how-image img {
  width: 100%;
}

.studio-spiouts {
  margin: 100px 0px 0px 0px;
}

.studio-spiouts h2.title {
  padding: 57px 0px 34px 0px;
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
}

.studio-spiouts .studio-spinouts-wrapper {
  max-width: 1225px;
  margin: 0 auto;
}

.studio-spiouts .spinouts-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.837%;
          flex: 0 0 23.837%;
  max-width: 23.837%;
  position: relative;
  z-index: 2;
}

.studio-spiouts .spinouts-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76.163%;
          flex: 0 0 76.163%;
  max-width: 76.163%;
}

.studio-spiouts .spinouts-right img {
  width: 100%;
}

.studio-spiouts .spinouts-content {
  text-align: left;
  margin: 10% -88% 6% 6%;
  padding: 45px;
  border-style: solid;
  border-color: #FFFFFFFA;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(251, 120, 3, 0.98);
          box-shadow: 0px 0px 0px 0px rgba(251, 120, 3, 0.98);
  font-family: "Biryani", Serif;
  font-weight: 400;
  color: #0F1B63;
}

.studio-spiouts .spinouts-content.custom {
  margin: 115px -210px 0px 10px;
}

.studio-spiouts .spinouts-content .logo {
  margin-bottom: 15px;
}

.studio-spiouts .spinouts-content h2.name {
  margin-bottom: 31px;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}

.studio-spiouts .spinouts-content p.desc {
  letter-spacing: 0.1px;
  font-size: 2rem;
}

.studio-spiouts .spinouts-content p.actions {
  text-align: left;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.studio-spiouts .spinouts-content p.actions a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.7rem;
  border: 2px solid #fff;
  color: #55595c;
  border-color: #55595c;
  border-radius: 100px;
}

.studio-spiouts .studio-spinouts-item {
  margin-bottom: 100px;
}

/* team page */
.team-big-text .team-family {
  text-align: center;
  margin: 167px 0px 0px 0px;
}

.team-big-text h2.title {
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
  padding: 0px 0px 35px 0px;
  margin: 0;
}

.team-big-text p.desc {
  text-align: left;
  font-family: "Biryani", Serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.team-members h1.title {
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
}

.team-members .team-members-wrapper {
  max-width: 945px;
  margin: 0 auto;
}

.team-members .member-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-members .member-list .core-member {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.team-members .member-list .core-member .member-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
}

.team-members .member-list .core-member .member-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
}

.team-members .member-list .normal-member {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.team-members .member-info {
  padding: 10px;
}

.team-members .member-info .member-img {
  margin-bottom: 20px;
}

.team-members .member-info .member-img img {
  width: 84%;
  border-style: solid;
  border-color: #FB7803FA;
  border-radius: 180px 180px 180px 180px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(227, 206, 188, 0.98);
          box-shadow: 0px 0px 0px 0px rgba(227, 206, 188, 0.98);
}

.team-members .member-info .member-name {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.team-members .member-info .member-name a {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 2.3rem;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.team-members .member-info .member-status {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.team-members .member-info .member-status span {
  font-family: "Biryani", Serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #FFFFFF;
}

.team-members .member-info .member-socials {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.team-members .member-info .member-socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 46px;
  height: 46px;
  border-style: solid;
  border-color: #A9CAED;
  background-color: #FFFFFF;
  border-color: #A9CAED;
  border-radius: 50%;
}

.team-members .member-info .member-socials span.icons {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.team-members .member-info .member-socials span.icons svg {
  width: 25px;
  height: 25px;
}

.team-members .member-info .member-socials span.icons svg path {
  fill: #495BC7;
}

.team-members .member-content {
  margin: 55px 0px 0px 0px;
}

.team-members .member-content .twitter-feed-item-inner {
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.team-members .member-content .twitter-feed-item-header {
  padding: 20px 15px 0;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-avatar {
  float: left;
  width: 38px;
  margin-right: 10px;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-avatar img {
  border-radius: 50%;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-meta {
  float: left;
  color: #08c;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-meta span.icons {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-meta span.icons svg {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-meta span.icons svg path {
  fill: #1da1f2;
}

.team-members .member-content .twitter-feed-item-header a.twitter-feed-item-meta .twitter-feed-item-author {
  font-family: "Biryani", Serif;
  color: #444;
  line-height: 1.5em;
  font-weight: 700;
}

.team-members .member-content .twitter-feed-item-header .twitter-feed-item-date {
  float: right;
  font-family: "GFS Didot", Serif;
  margin-right: 10px;
  font-size: 90%;
  color: #999;
}

.team-members .member-content .twitter-feed-item-content {
  display: inline-block;
  width: 100%;
  padding: 0 15px 15px;
  text-align: left;
}

.team-members .member-content .twitter-feed-item-content p {
  font-family: "Biryani", Serif;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin: 0 0 5px;
  min-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.team-members .member-content .twitter-feed-item-content .read-more-link {
  color: #110252;
  font-family: "Biryani", Serif;
  font-size: 14px;
}

.team-members .member-content .twitter-feed-item-content .read-more-link span.icons {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.team-members .member-content .twitter-feed-item-content .read-more-link span.icons svg {
  position: relative;
  top: 3px;
}

.team-members .member-content .twitter-feed-item-content .read-more-link span.icons svg path {
  fill: #110252;
}

.team-values {
  margin-top: 60px;
  margin-bottom: 60px;
}

.team-values h2.title {
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(251, 120, 3, 0.98);
  margin: 0;
  padding: 0px 0px 76px 0px;
}

/* porfolio */
.portfolio h2.title {
  margin: 112px 0px 20px 0px;
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 5rem;
  font-weight: 400;
}

.portfolio .protfolio-image, .portfolio .client-image {
  padding: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.portfolio .protfolio-image img {
  max-width: 150px;
}

.portfolio img {
  max-width: 235px;
}

.portfolio img.ultra-large {
  max-width: 200px;
}

.portfolio img.super-large {
  max-width: 180px;
}

.portfolio img.regular-small {
  max-width: 120px;
}

.portfolio img.medium-small {
  max-width: 100px;
}

.portfolio img.normal-small {
  max-width: 80px;
}

.portfolio img.super-small {
  max-width: 50px;
}

/* contact */
.contact-us h1.title {
  margin: 13% 0% 0% 0%;
  padding: 0px 0px 17px 0px;
  color: #FFFFFF;
  font-family: "Biryani", Serif;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.98);
}

.contact-us .form-contact-wrapper .contact-form {
  margin: 23px 272px 118px 272px;
  padding: 32px 32px 32px 32px;
}

.contact-us .form-contact-wrapper .contact-form input, .contact-us .form-contact-wrapper .contact-form textarea {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  border: 1px solid #818a91;
  border-radius: 3px;
  padding: .5rem 1rem;
  line-height: 1.4;
  min-height: 40px;
}

.contact-us .form-contact-wrapper .contact-form .contact-field-group {
  display: inline-block;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 17px;
}

.contact-us .form-contact-wrapper .contact-form .contact-buttons button {
  font-family: "Biryani", Serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 3px 31px 1px 38px;
  background-color: #E45A0B;
  color: #04055C;
  border: none;
  outline: none;
  min-height: 47px;
  border-radius: 4px;
}

/* responsive  */
@media (max-width: 1024px) {
  #menu, .header-social {
    display: none !important;
  }
  #hamburger {
    display: block;
  }
  #menu-mb .menu-list-mb a {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .contact-us .form-contact-wrapper .contact-form {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .page-container {
    padding: 0 10px;
  }
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #header {
    padding: 20px 10px;
  }
  #header .header-wrap {
    min-height: 0;
  }
  #header .header-left {
    width: 70%;
  }
  #header .header-right {
    width: 30%;
  }
  #footer .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #footer .footer-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #footer .footer-left-wrap {
    margin-left: 0;
  }
  #footer .footer-left-wrap .footer-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  #footer .footer-left-wrap .footer-links a {
    font-size: 1.6rem;
  }
  #footer .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .subscribe-form {
    padding: 70px 0;
  }
  #footer .subscribe-form .form-wrap .form-input, #footer .subscribe-form .form-wrap .form-buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .home-big-text {
    min-height: 313px;
  }
  .home-big-text .page-container {
    width: 100%;
  }
  .home-big-text h2.title {
    font-size: 35px;
    text-align: center;
  }
  .studio-big-text {
    min-height: 313px;
  }
  .studio-big-text h1.title {
    font-size: 30px;
    text-align: center;
  }
  .home-big-desc .content-1 .content {
    font-size: 1.9rem;
    text-align: center;
  }
  .home-big-desc .small-content {
    text-align: center;
  }
  .home-big-desc .small-content p.desc {
    font-size: 1.8rem;
  }
  .network .col-3, .network .col-4, .network .col-4-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .network .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .network .col-sm-12 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .network .network-item .network-img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .network .network-item .binarystar {
    max-width: 55%;
  }
  .network .network-item .gsdvs {
    width: 80px;
  }
  .network .network-item .wolf {
    max-width: 80px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .network .network-item .cryptodiffer {
    width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .network .network-item .candaq {
    max-width: 80px;
  }
  .network .network-item .cvlabs {
    max-width: 33.3333%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  h2.title {
    font-size: 3.5rem  !important;
  }
  .getintouch a.actions {
    padding: 20px;
  }
  .studio-spiouts .spinouts-left,
  .studio-spiouts .spinouts-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .studio-spiouts .spinouts-content.custom,
  .studio-spiouts .spinouts-content {
    margin: 0;
    padding: 20px;
  }
  .studio-spiouts .spinouts-content.custom h2.name,
  .studio-spiouts .spinouts-content h2.name {
    font-size: 2rem;
  }
  .studio-spiouts .spinouts-content.custom p.desc,
  .studio-spiouts .spinouts-content p.desc {
    font-size: 1.75rem;
  }
  .studio-spiouts .spinouts-content.custom p.actions a,
  .studio-spiouts .spinouts-content p.actions a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    height: 56px;
    line-height: 54px;
  }
  .studio-spiouts .studio-spinouts-item {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .team-big-text p.desc {
    font-size: 1.9rem;
  }
  .team-members .member-list .core-member .member-info,
  .team-members .member-list .core-member .member-content,
  .team-members .member-list .member-info,
  .team-members .member-list .normal-member {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
  .contact-us h1.title {
    font-size: 1.9rem;
  }
  .contact-us .form-contact-wrapper .contact-form {
    margin: 20px 0;
    padding: 0;
  }
  .client-wrapper .col-4,
  .client-wrapper .col-6,
  .protfolio-wrapper .col-4,
  .protfolio-wrapper .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  #header .header-left {
    width: 32.189%;
  }
  #header .header-right {
    width: 67.811%;
  }
}
/*# sourceMappingURL=styles.css.map */